$color-primary: #BA265D;
$color-primary-light: #FF3366;
$color-primary-dark: #EB2F64;

$color-secondary:#55c57a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$background-gradinet: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

$default-font-size: 1.6rem;
